name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy via SSH
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_KEY }}
        script: |
          set -e
          cd ~/linux/front || { echo "Error: ~/linux/front not found!"; exit 1; }
          git pull origin main
          npm install
          npm run build
          pm2 restart dapmeet || pm2 start npm --name "dapmeet" -- start
