---
galaxy_info:
  author: Abdurakhimov Abdussalam
  description: Create systemd services for Dapmeet project
  license: MIT
  min_ansible_version: "2.9"
  platforms:
    - name: Ubuntu
      versions:
        - focal
        - jammy

dependencies:
  - role: docker
